
body, html {
    height: 100%;
    background-color: white;
    min-height:100%;
}

.maxHeight {
    height: 100%;
    min-height: 100%;
}


#searchBar{
    width:20%;
    float: left;
    margin-left:0px;
    background-color:grey;
    height:100%;
}

#contactSearch {
    margin-left: 5px;
    margin-right: 5px;
}