<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js">
    </script>

</head>
<body>

<div ng-controller="FirstController">
    <h1>{{ message.test }}</h1>
</div>

<div ng-controller="SecondController">
    <h1>{{ message.test }}</h1>
</div>

<div ng-controller="CalcController">
    <h4>The simpliest adding machine ever</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <button ng-click="subtract(1)" class="button">Subtract</button>
    <h4>Current Count: {{ counter }}</h4>
</div>

<div ng-controller="MyController">
    <h4>Person object: {{ person }}</h4>
    <h4>Their name: {{ person.name }}</h4>
</div>

<div ng-controller="ParentController">
    <div ng-controller="ChildController">
        <button ng-click="sayHello()">Say Hello!</button>
    </div>
    {{ person }}
</div>


<div ng-controller="ContactsController">
    <input type="text" ng-model="search">
    <table>
        <tr ng-repeat="contact in contactList.contact | filter:search">
            <td>{{contact.name | uppercase}}</td>
            <td>{{contact.character | lowercase}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="JS/app.js"></script>
</body>
</html>

