<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact details</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/factory.js"></script>
    <link rel="stylesheet" href="style/sidebar.css">


    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
</head>

<body ng-app="ngRouteExample">
<header>Replace shitty CRM</header>
<div class="maxHeight" ng-controller="MainController">

    <!-- The side search bar -->
    <div ng-controller="ContactsController" id="searchBar">
        <input type="text" ng-model="search" placeholder="Search" id="contactSearch">
        <table>
            <tr ng-repeat="company in CompanyList.company | filter:search">
                <td><a href="Company/{{company.Id}}"> {{company.name | uppercase}} </a></td>
            </tr>
        </table>
    </div>

    <!-- The view is injected here -->
    <div ng-view></div>

</div>
<footer>David M<sup>c</sup>Queen</footer>


</body>
</html>