<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Contact list</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <link rel="stylesheet" href="style/sidebar.css">
    <script type="text/javascript" src="scripts/app.js"></script>
</head>
<body>

<div ng-controller="ContactsController" class="searchBar">
    <input type="text" ng-model="search" placeholder="Search" id="contactSearch">
    <table>
        <tr ng-repeat="contact in contactList.contact | filter:search">
            <td>{{contact.name | uppercase}}</td>
            <td>{{contact.character | lowercase}}</td>
        </tr>
    </table>
</div>

</body>
</html>